html
    head
        title Codepot
        meta(charset='utf-8')
        <link rel="icon" type="image/png" href="public/img/favicon-32.png" sizes="32x32">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        include socialmetatags
        link(rel='stylesheet' type='text/css' href='public/style.css')
        script(src='public/head.js')

    body( itemtype='http://schema.org/EducationEvent', itemscope)
         header
             div.row
                div.small-12.columns
                    h1(itemprop='name') CODEPOT 
                    h2(itemprop='attendee') 100% workshop conference! 
                    span <time itemprop="startDate" datetime="2015-08-28">August 28-29th, 2015</time>, <font itemprop="location" itemscope itemtype="http://schema.org/PostalAddress"> <font itemprop="addressLocality">Warsaw</font></font>

        section#about
            div.row
                div.small-12.medium-10.medium-centered.columns
                    h1 ABOUT
                    p(itemprop='description') 100% workshop technology conference taking place at the end of summer, August 28-29th, 2015 at the University of Social Sciences and Humanities in Warsaw, Poland. If you believe in learning by doing approach and are thirsty for knowledge and networking this event is for you! There will be multiple hands-on sessions on software development, devops tools, product design, IoT and hardware renaissance, agile practices and many, many more. Instead of just talking about great new tools - Codepot will show you how to actually use them.

        if tutors && tutors.length > 0
            section#tutors
                div.row
                    div.small-12.medium-10.medium-centered.columns
                        h1 TUTORS
                        span.tagline We present our great tutors!
                div.row
                    div.small-12.medium-10.medium-centered.columns
                        ul.small-block-grid-2.medium-block-grid-4
                            each tutor, index in tutors
                                li.wrapper(class=(index % 2 == 0) ? 'odd' : 'even')
                                    img(src=tutor.pictureUrl)
                                    div.center-holder
                                        div.description-wrapper
                                            span.top-line!=[tutor.firstName, tutor.lastName].join(' ')
                                            hr
                                            span.bottom-line!=tutor.tagline

        section#sponsor-us
            div.row
                div.small-12.medium-10.medium-centered.columns
                    h1 SPONSOR US
                    p Be the part of the only one workshop conference in Poland.
                    div.center
                        a(href='public/codepot-sponsor-offer.pdf' target='blank')
                            button SPONSOR OFFER

        section#organizers
            div.row
                div.small-12.medium-10.medium-centered.columns
                    h1 ORGANIZERS
                    span.tagline Meet the Team!
            div.row
                div.small-12.medium-10.medium-centered.columns
                    ul.small-block-grid-2.medium-block-grid-5
                        each organizer, index in organizers
                            li.wrapper(class=(index % 2 == 0) ? 'odd' : 'even')
                                img(src=organizer.pictureUrl)
                                div.center-holder(itemscope, itemtype='http://schema.org/Person')
                                    div.name-wrapper(itemprop='name')
                                        span.first-name!=organizer.firstName
                                        hr
                                        span.last-name!=organizer.lastName

        section#contact
            div.row
                div.small-12.medium-10.medium-centered.columns
                    h1 CONTACT
                    a(href='mailto:contact@codepot.pl') contact@codepot.pl

        section#subscribe
            div.row
                div.small-12.medium-10.medium-centered.columns
                    form(method="post" action="//codepot.us10.list-manage.com/subscribe/post?u=e3b6b208ec2b30c8e9827973f&amp;id=d26e38382d")
                        h1 SUBSCRIBE
                        p Subscribe to our mailing list to find out about new workshops and tutors first.
                        div.center
                            input(type='email' required='required' placeholder='Your e-mail address' name='EMAIL' id='mce-EMAIL')
                            button SUBSCRIBE

        script(src='public/body.js' defer)
