html
    head
        title Codepot
        meta(charset='utf-8')
        link(rel='icon' type='image/png' href='public/img/favicon-32.png' sizes='32x32')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
        link(type='text/plain' rel='author' href=host + 'humans.txt')
        include socialmetatags
        style
            include ../../public/style.css
        script
            include ../../public/head.js
        //link(rel='stylesheet' type='text/css' href='public/style.css')
        //script(src='public/head.js')
        //TODO add environment variable to control inlining mechanism
    body(itemtype='http://schema.org/EducationEvent', itemscope)
        div#navbar.fixed
            nav.top-bar(data-topbar role='navigation')
                ul.title-area
                    li.name
                        h1
                    li.toggle-topbar.menu-icon
                        a(href='#')
                            span
                section.top-bar-section
                    ul.right
                        li.name
                            a(href='../#about') ABOUT
                        li.name
                            a(href='../#venue') VENUE
                        li.name
                            a(href='../#tutors') TUTORS
                        if workshops.length > 0
                            li.name
                                a(href='#workshops') WORKSHOPS
                        li.name
                            a(href='../#agenda') AGENDA
                        li.name
                            a(href='../#sponsor-us') SPONSORS
                        li.name
                            a(href='../#organizers') TEAM
                        li.name
                            a(href='https://twitter.com/codepot_pl' target='_blank') &nbsp;
                                i.icon-twitter &nbsp;
                        li.name
                            a(href='https://www.facebook.com/codepotpl' target='_blank') &nbsp;
                                i.icon-facebook-1 &nbsp;
                        li.name
                            a(href='http://www.meetup.com/Warsaw-Codepoters/' target='_blank')
                                i.icon-codepot-icon-meetup &nbsp;
                        li.name
                            a(href='mailto:contact@codepot.pl') &nbsp;
                                i.icon-mail &nbsp;

        if workshops && workshops.length > 0
            section#workshops
                div.row
                    div.small-12.medium-10.medium-centered.columns
                        h1 WORKSHOPS
                    div.small-12.medium-10.medium-centered.columns.tagButtons
                        select.tags-select(multiple="multiple" hidden data-placeholder="Find by tag")
                    div.small-12.medium-10.medium-centered.columns
                        each workshop, index in workshops
                            div.workshop-row
                                div.row.my-row(data-reveal-id="workshop" + index style='cursor: pointer;')
                                    - var columnsContentNumber = 12
                                    each tutor, indexTutor in workshop.tutors
                                        if tutor.pictureUrl
                                            - columnsContentNumber = columnsContentNumber - 2
                                    each tutor, indexTutor in workshop.tutors
                                        div.columns.medium-2.small-4
                                            img(src=tutor.pictureUrl)
                                    if columnsContentNumber < 6
                                        - columnsContentNumber = 12
                                    div.columns.content.small-12(class = 'medium-' + columnsContentNumber)
                                        div.tutors
                                            each tutor, indexTutor in workshop.tutors
                                                if indexTutor > 0
                                                    | ,&#32;
                                                span!=[tutor.firstName, tutor.lastName].join(' ')
                                        div.topic
                                            span!=workshop.title
                                        div.tags
                                            each tag, indexTags in workshop.tags
                                                span.workshop-tag(class = tag)!=tag
                                hr
                                div.reveal-modal.workshop(id="workshop" + index data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
                                    div.row.topic.topic-modal
                                        div.small-12.columns
                                            h3!=workshop.title
                                    div.row.description
                                        div.small-12.columns
                                            !=markdown(workshop.descriptionInMd)
                                    div.row.tags-modal
                                        div.small-12.columns
                                            each tag, indexTags in workshop.tags
                                                span.workshop-tag!=tag
                                    div.row.tutors
                                        div.small-12.columns
                                            - var indexUnknownTutors = 0
                                            - var indexKnownTutors = 0
                                            div.unknown-tutors
                                                each tutor, tutorIndex in workshop.tutors
                                                    if !tutor.pictureUrl
                                                        if indexUnknownTutors > 0
                                                            | ,&#32;
                                                        - indexUnknownTutors++
                                                        span!=[tutor.firstName, tutor.lastName].join(' ')
                                            - var columnTutorNumber
                                            if workshop.tutors.length - indexUnknownTutors >= 2
                                                - columnTutorNumber = 6
                                            else
                                                - columnTutorNumber = 12
                                            each tutor, tutorIndex in workshop.tutors
                                                if !tutor.pictureUrl
                                                    - continue
                                                if workshop.tutors.length - indexUnknownTutors - 1 == indexKnownTutors && (workshop.tutors.length - indexUnknownTutors) % 2
                                                    - columnTutorNumber = 12
                                                - indexKnownTutors++
                                                div.small-12.columns.tutor(class = 'medium-' + columnTutorNumber)
                                                    div.row.img
                                                        div.medium-3
                                                            img(src=tutor.pictureUrl)
                                                    div.row.contact
                                                        div.icons.inline
                                                            if tutor.linkedInProfileUrl
                                                                a(href!=tutor.linkedInProfileUrl target='_blank')
                                                                    i.icon-linkedin
                                                            if tutor.githubUsername
                                                                a(href='https://www.github.com/' + tutor.githubUsername target='_blank')
                                                                    i.icon-github-circled-alt2
                                                            if tutor.twitterUsername
                                                                a(href='https://twitter.com/' + tutor.twitterUsername target='_blank')
                                                                    i.icon-twitter
                                                            if tutor.stackoverflowId
                                                                a(href!=tutor.stackoverflowId target='_blank')
                                                                    i.icon-stackoverflow
                                                            if tutor.googlePlusHandler
                                                                a(href='https://plus.google.com/' + tutor.googlePlusHandler target='_blank')
                                                                    i.icon-gplus
                                                            if tutor.facebookUrl
                                                                a(href!=tutor.facebookUrl target='_blank')
                                                                    i.icon-facebook-1
                                                        div.name.inline
                                                            if tutor.websiteUrl
                                                                a(href!=tutor.websiteUrl target='_blank')
                                                                    span.name!=[tutor.firstName, tutor.lastName].join(' ')
                                                            else
                                                                span.name!=[tutor.firstName, tutor.lastName].join(' ')
                                                        div.clearBoth
                                                    div.row.tagline
                                                        span.bottom-line!=tutor.tagline
                                                    div.row.bioInMd
                                                        if tutor.bioInMd
                                                            !=markdown(tutor.bioInMd)
                                    a.close-reveal-modal(aria-label="Close") &#215;
        button#show_map(hidden) //error js, quick and certain solution
        link(rel='stylesheet' href='public/select2/select2.min.css')
        script(src='public/body.js' defer)