each workshop in workshops
    div
        h1!=workshop.title
        each tutor in workshop.tutors
            div
                img(src=tutor.pictureUrl style='height:20px;')
                span!=tutor.firstName + ' ' + tutor.lastName
        h2!=workshop.description
        each tag in workshop.tags
            strong!=tag
    hr